:root {
    --Evolum: #050618;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: 200ms;
    text-align: center;

}
@font-face {
    font-family: "MiFuente";
    src: url("FreganSansBold.otf") format("opentype"),
    font-weight
}
body{
    background-color: var(--Evolum);
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.menu {
    width: 100%;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    position: fixed;
    background: var(--Evolum);
    align-items: center;
    transition: 100ms;
    z-index: 999;
}
.opciones-texto-svg {
    width: 50px;
    height: 50px;
    overflow: hidden;
}
svg.iconos-svg {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    stroke: white;
    cursor: pointer;
}
path.Logo-menu-svg-path-fubol {
    fill: white;
}
p.opciones-menu-p {
    text-align: center;
    font-family: 'MiFuente';
    font-size: .5rem;
    color: white;
    margin: 5px 0px 0px 0px ;
}
.imagen-grande {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

.degradado-imagen-grande {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(0deg, var(--Evolum), transparent 60%);
}
svg.play-svg {
    width: 30px;
    height: 30px;
    margin: 0px 10px 0px 0px;
}
svg.play-svg path {
stroke: rgb(255, 255, 255);
}

.peliculas-series {
    margin: 30px 0px 0px 0px;
    width: 100%;
}
p.titulo-categoria {
    color: white;
    text-align: justify;
    width: fit-content;
    margin: 0px 0px 10px 10px;
    font-family: 'MiFuente';
    font-size: 1rem;
}
.imagenes-peliculas-series {
    width: 100%;
    height: fit-content;
    overflow: auto;
    padding: 0px 10px;
    display: flex
;
}

img.img-peliculas-series-img {
    width: 100%;
    padding: 3px;
    border-radius: 10px;
    height: fit-content;
    min-width: 230px;
}
.espacio{
    width: 100%;
    height: 90px;
    background-color: var(--Evolum);
}
p.titulo-categoria {
    color: white;
    text-align: justify;
    width: fit-content;
    margin: 0px 0px 0px 10px;
    font-family: 'MiFuente';
    display: flex
;
    align-items: center;
}
svg.flecha-titulo {
    width: 10px;
    height: 10px;
    margin: 0px 0px 0px 5px;
}
svg.flecha-titulo path {
fill: var(--Evolum);
}
#Img-ouculta{
    display: none;
}

.link-pelicula{
    width: min-content;
    width: 24%;
    margin: 0px .5%;
    min-width: 230px;
}
@media (max-width: 621px) {

    #Img-ouculta{
        display: block;
    }

  }
