
.degradado {
    position: absolute;
    width: 100%;
    height: 40vh;
    background: linear-gradient(0deg, var(--Evolum), transparent 68%);
}
img.logo {
    position: absolute;
    max-width: 300px;
    width: 100%;
    min-width: 200px;
}
.infromacion-pelicula-serie {
    width: 90%;
    margin: 30px 5% 0px;
    display: flex
;
}
a.reproducir {
    backdrop-filter: drop-shadow(2px 4px 6px black);
    text-align: center;
    text-decoration: none;
    height: 58px;
    width: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.4rem;
    font-family: 'MiFuente';
    border: 1px solid white;
}
a.compartir-chromcast {
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 2%;
    border-radius: 50%;
    border: 1px solid white;
}
svg.logo-svg-ch {
    width: 30px;
    height: 30px;
}
g#Page-1, svg.logo-svg-ch path {
    fill: white;
}
svg.logo-svg-ch {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
}

.badges {
    width: 100%;
    height: fit-content;
    margin: 20px 0px 0px;
    display: flex;
    align-items: center;
}
p.badges-p {
    font-family: 'MiFuente';
    color: white;
    margin: 0px 5px;
    padding: 7px;
    background: #ffffff24;
    border-radius: 7px;
    text-align: center;
    font-size: .7rem;
}
p.duracio-año {
    font-family: 'MiFuente';
    margin: 0px 10px;
    font-size: .7rem;
}
.descrpcion-serie-pelicula {
    width: 90%;
    margin: 30px 5% 0px;
    color: white;
}
.descripcion {
    width: 100%;
    text-align: left;
    color: white;
    font-family: 'MiFuente';
    font-size: 1rem;
    max-height: 99px;
    overflow: hidden;
}
.descripcion.extendida{
    max-height: fit-content;
}
.mas-informacion {
    width: 100%;
    margin: 30px 0px 0px 0px;
}
#relacionado,#Detalles {
    width: fit-content;
    font-family: 'MiFuente';
    font-size: 1.2rem;
}
h5.titulos-informacion {
    width: fit-content;
    font-size: 1.2rem;
    font-family: 'MiFuente';
    margin: 20px 0px 0px 0px;
}
p.informacion-descripcion {
    width: fit-content;
    margin: 10px 0px 0px 0px;
    font-family: sans-serif;
    font-size: 0.8rem;
    color: gray;
    font-weight: 500;
    text-align: left;
}
#elenco{
    text-decoration: underline;
}
.botones-info {
    display: flex;
    justify-content: space-around;
    
}
.active {
    color: rgb(255, 255, 255);
}

.inactive {
    color: #ffffff8c;;
}
div#informacion-opcion {
    display: none;
    margin: 30px 0px 0px 0px;
}
div#relacionado-opcion {
    margin: 30px 0px 0px 0px;
}

.degradado-coleccion {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(331deg, #050618 30%, transparent);
    top: 0;
}
.informacion-coleccion {
    position: absolute;
    margin: 0px 0px 80px 10px;
    text-align: left;
    bottom: 0;
}
p.titulo-coleccion {
    font-family: 'MiFuente';
    font-size: 1.1rem;
}
p.descripcion-coleccion {
    width: fit-content;
    margin: 5px 0px 0px 0px;
    font-family: sans-serif;
    font-size: .8rem;
    color: gray;
    
}
a.boton-coleccion {
    position: absolute;
    margin: 0px 0px 20px 10px;
    background: linear-gradient(-392deg, #200557, #030c31 60%);
    padding: 13px;
    font-size: 1rem;
    font-family: 'MiFuente';
    border-radius: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
